@import "vars.scss";

.color-blanco{
    color: $blanco !important;
}
.fondo-blanco{
    background-color: $blanco !important;
}
.fondo-blanco{
    color:  $blanco !important;
}

.fondo-gris-fallback{
    background-color: $gris-fallback !important;
}
.color-gris-fallback{
    color: $gris-fallback !important;
}

.color-negro{
    color: $negro !important;
}
.fondo-negro{
    background-color: $negro !important;
}

.color-gris{
    color: $gris !important;
}
.fondo-gris{
    background-color: $gris !important;
}
.sombra-gris{
    -webkit-box-shadow: $sombra-gris;
    -moz-box-shadow: $sombra-gris;  
    box-shadow: $sombra-gris;
}

.fondo-deportes{
    background-color: $deportes !important;
}
.color-deportes{
    color:  $deportes !important;
}
.border-deportes{
    border-color: $deportes !important;
}

.fondo-nacionales, .fondo-gobierno, .fondo-educacion, .fondo-clima{
    background-color: $nacionales !important;
}
.color-nacionales, .color-gobierno, .color-educacion, .color-clima{
    color:  $nacionales !important;
}
.border-nacionales, .border-gobierno,  .border-educacion, .border-clima{
    border-color: $nacionales !important;
}

.fondo-tecnologia{
    background-color: $tecnologia !important;
}
.color-tecnologia{
    color:  $tecnologia !important;
}
.border-tecnologia{
    border-color: $tecnologia !important;
}

.fondo-ambiente{
    background-color: $ambiente !important;
}
.color-ambiente{
    color:  $ambiente !important;
}
.border-ambiente{
    border-color: $ambiente !important;
}

.fondo-economia{
    background-color: $economia !important;
}
.color-economia{
    color:  $economia !important;
}
.border-economia{
    border-color: $economia !important;
}

.fondo-entretenimiento, .fondo-diva{
    background-color: $entretenimiento !important;
}
.color-entretenimiento, .color-cultura{
    color:  $entretenimiento !important;
}
.border-entretenimiento{
    border-color: $entretenimiento !important;
}

.fondo-mundo{
    background-color: $mundo !important;
}
.color-mundo{
    color:  $mundo !important;
}
.border-mundo{
    border-color: $mundo !important;
}

.fondo-salud{
    background-color: $salud !important;
}
.color-salud{
    color:  $salud !important;
}
.border-salud{
    border-color: $salud !important;
}

.fondo-humor, .fondo-caricaturas{
    background-color: $humor !important;
}
.color-humor{
    color:  $humor !important;
}
.border-humor{
    border-color: $humor !important;
}

.fondo-opinion{
    background-color: $opinion !important;
}
.color-opinion{
    color:  $opinion !important;
}
.border-opinion{
    border-color: $opinion !important;
}

.fondo-estilo-de-vida{
    background-color: $estilo-de-vida !important;
}
.color-estilo-de-vida{
    color:  $estilo-de-vida !important;
}
.border-estilo-de-vida{
    border-color: $estilo-de-vida !important;
}

.fondo-desarrollo-inmobiliario{
    background-color: $desarrollo-inmobiliario !important;
}
.color-desarrollo-inmobiliario{
    color:  $desarrollo-inmobiliario !important;
}
.border-desarrollo-inmobiliario{
    border-color: $desarrollo-inmobiliario !important;
}

.fondo-foto-del-dia, .fondo-la-foto-del-dia{
    background-color: $foto-del-dia !important;
}
.color-foto-del-dia, .color-la-foto-del-dia{
    color:  $foto-del-dia !important;
}
.border-foto-del-dia{
    border-color: $foto-del-dia !important;
}

.fondo-frase-dia, .fondo-la-frase-del-dia{
    background-color: $frase-dia !important;
}
.color-frase-dia{
    color:  $frase-dia !important;
}
.border-frase-dia{
    border-color: $frase-dia !important;
}