.no-margin{
    margin: 0px !important;
}
.no-margin-bottom{
    margin-bottom: 0px !important;
}
.margin-bottom-1em{
    margin-bottom: 1em;
}


.embed-responsive {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.embed-responsive-16by9 {
    padding-bottom: 56.25%;
}
.embed-responsive-4by3{
    padding-bottom: 75%;
}
.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0px !important;
}

.ver-mas-boton{
    width: 80%;
    margin: 1em 0px;
    display: inline-block;
}

.logo-toolbar{
    height: 36px;
    margin: 4px auto;
}

.nav-to-socials a{
    color: #333;
    text-decoration: none;
}

.notification_inside_app .alert-dialog-content{
    padding: 0px !important;
    margin-top: 0.5em
}