$blanco: #ffffff;
$gris-fallback: #5d5d5d;
$negro: #333333;
$gris: #e0e0e0;
$sombra-gris: 0px 2px 10px 0px rgba(143,143,143,1);

/* ===== SECCIONES ===== */
$deportes: #034673;
$nacionales: #ed1b24;
$tecnologia: #0388a6;
$ambiente: #2bb673;
$economia: #0f6635;
$entretenimiento: #b82364;
$mundo: #402198;
$salud: #59b6b3;
$humor: #f24606;
$opinion: #ff9919;
$estilo-de-vida: #d3ac2b;
$desarrollo-inmobiliario: #3b7b25;
$foto-del-dia: #80ab5b;
$frase-dia: #E57373;

/* ===== COLORES ONSEN ===== */
$primary: #337ab7;
$success: #dff0d8;
$info: #d9edf7;
$warning: #fcf8e3;
$danger: #f2dede;