.accordion{
    margin: 8px;
    .accordion-header{
        padding: 8px 16px 0px;
        h3{
            color: #fff;
            margin: 0px;
            width: 85%;
            display: inline-block;
            font-weight: bold;
        }
        button{
            color: #fff;
        }
    }
    .accordion-body{
        ons-card {
            margin: 8px 0px 0px;
        }
    }
}