<template id="boletin">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">Boletín</div>
        </v-ons-toolbar>
        <v-ios-back-button></v-ios-back-button>

        <ons-row>
            <ons-col>
                <ons-list>
                    <ons-list-header>Usted ya esta subscrito a nuestros boletines</ons-list-header>
                    <v-ons-list-item v-for="sw in switchers">
                        <div class="center">{{ sw.name }}</div>
                        <div class="right">
                            <v-ons-switch v-model="sw.check"></v-ons-switch>
                        </div>
                    </v-ons-list-item>
                </ons-list>
                <form>
                    <v-ons-list>
                        <v-ons-list-item>
                            <v-ons-input placeholder="Email" type="email" float v-model="email" required></v-ons-input>
                        </v-ons-list-item>
                    </v-ons-list>
                    <v-ons-button type="button" modifier="large" @click="subscribe()">Subscribirse</v-ons-button>
                </form>
            </ons-col>
        </ons-row>
    </v-ons-page>
</template>