<template id="buscador">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">
                <img class="logo-toolbar" src="img/crhoy-logo.png" alt="CRHoy.com">
            </div>
        </v-ons-toolbar>
        <v-ios-back-button></v-ios-back-button>

        <ons-row>
            <ons-col>
                <v-ons-list>
                    <v-ons-list-item>
                        <div class="center">
                            <v-ons-input placeholder="Buscar" float v-model="query" v-on:keyup.enter="buscar()"></v-ons-input>
                        </div>
                        <div class="right">
                            <v-ons-button modifier="quiet" @click="buscar()">
                                <v-ons-icon icon="fa-search"></v-ons-icon>
                            </v-ons-button>
                        </div>
                    </v-ons-list-item>
                    <v-ons-list-header v-show="times > 0 && results == 0">No se encontraron resultados</v-ons-list-header>
                    <v-ons-list-header v-show="noticias.length > 0">Resultados: {{ results }}</v-ons-list-header>
                    <v-ons-list-item v-for="nota in noticias" tappable @click="navToNews(nota.link)">
                        <a :href="nota.link" @click.prevent.stop="navToNews(nota.link)">{{ nota.title }}</a>
                        <p>{{ nota.snippet }}</p>
                    </v-ons-list-item>
                </v-ons-list>
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col class="text-center" width="100%" v-show="loading">
                <v-ons-icon class="'color-negro" size="2em" spin icon="fa-cog"></v-ons-icon>
            </ons-col>
            <ons-col class="text-center" width="100%" v-show="results > 0">
                <v-ons-button modifier="large" @click="viewMoreNews()" class="ver-mas-boton fondo-negro">Ver más noticias</v-ons-button>
            </ons-col>
        </ons-row>
    </v-ons-page>
</template>