<template id="category">
    <v-ons-page>
        <v-ons-toolbar :class="'fondo-' +  $route.params.cat_color">
            <div class="left">
                <v-ons-toolbar-button onclick="_splitter.toggle();" class="color-blanco">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center color-blanco">{{ $route.params.cat_title }}</div>
        </v-ons-toolbar>

        <v-ons-pull-hook :action="getNews" @changestate="state = $event.state">
            <span v-show="state === 'initial'"> Hale para refrescar </span>
            <span v-show="state === 'preaction'"> Soltar </span>
            <span v-show="state === 'action'"> <ons-icon icon="fa-cog" spin></ons-icon> </span>
        </v-ons-pull-hook>

        <v-ios-back-button></v-ios-back-button>
        <ons-row>
            <ons-col width="100">
                <p class="text-center">
                    <span :class="'notification subCategory color-blanco fondo-' + $route.params.cat_color" v-for="subCategory in cat_subCategories"
                        @click="navToSubCategory(subCategory)">{{ subCategory.title }}</span>
                </p>
            </ons-col>
        </ons-row>
        <!--SUB CATEGORIAS-->

        <ons-row>
            <ons-col width="100">
                <v-ons-card class="noticia-seccion-grande" v-if="noticias.length > 0" @click="$router.push('/noticia/' + noticias[0].id + '/null')">
                    <img :src="noticias[0].img | icdn([315,260,95,95])" :alt="noticias[0].title" style="width: 100%">
                        <div class="title">
                        <v-title tag="h2" :color="$route.params.cat_color" :metadata="noticias[0].metadata" color-text="negro">{{ noticias[0].title | html }}</v-title>
                    </div>
                    <div class="content">
                        <p>
                            {{ noticias[0].excerpt | html }}
                        </p>
                        <p class="color-negro no-margin"><small>{{ noticias[0].date }}{{ noticias[0].hour }}</small></p>
                    </div>
                </v-ons-card>
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col width="50" v-for="nota in noticias.slice(1)">
                <v-ons-card class="noticia-seccion-mediana" @click="$router.push('/noticia/' + nota.id + '/null')">
                    <img :src="nota.img | icdn([150,100,95,95])" :alt="nota.title" style="width: 100%">
                        <div class="title">
                        <v-title tag="h3" :color="$route.params.cat_color" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                    </div>
                    <div class="content no-margin">
                        <p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
                    </div>
                </v-ons-card>
            </ons-col>
        </ons-row>

        <ons-row>
            <ons-col class="text-center" width="100%" v-show="loading">
                <v-ons-icon :class="'color-' + $route.params.cat_color" size="2em" spin icon="fa-cog"></v-ons-icon>
            </ons-col>
            <ons-col class="text-center" width="100%">
                <v-ons-button modifier="large" @click="viewMoreNews()" :class="'ver-mas-boton fondo-' + $route.params.cat_color">Ver más noticias</v-ons-button>
            </ons-col>
        </ons-row>
    </v-ons-page>
</template>