<template id="especial">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">{{ $route.params.especial_name }}</div>
        </v-ons-toolbar>
        <v-ios-back-button></v-ios-back-button>

        <ons-row v-for="item in $route.params.especial_body">
            <ons-col width="100" v-if="item.type === 'img'" class="img-item">
                <img :src="item.src" alt="item.alt">
            </ons-col>
            <!--TIPO: IMAGEN-->

            <ons-col width="100" v-else-if="item.type === 'text'" class="text-item">
                <p class="text-justify">{{ item.body }}</p>
            </ons-col>
            <!--TIPO: TEXTO-->

            <ons-col width="100" v-else-if="item.type === 'embed'" class="embed-item margin-bottom-1em">
                <div v-html="item.html"></div>
            </ons-col>
            <!--TIPO: EMBED-->

            <ons-col width="100" v-else-if="item.type === 'newstag'" class="newstag-item margin-bottom-1em">
                <v-ons-carousel swipeable auto-scroll overscrollable :index.sync="item.index">
                                <v-ons-carousel-item v-for="nota in item.news">
                        <v-ons-card class="noticia-multimedia" @click="$router.push('/noticia/' + nota.id + '/null')">
                            <img :src="nota.img | icdn([300,225,95,95])" :alt="nota.title" style="width: 100%">
                                <div class="title">
                                <v-title tag="h4" :color="'negro'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                            </div>
                        </v-ons-card>
                    </v-ons-carousel-item>
                </v-ons-carousel>
                <div class="text-center" v-show="item.news.length > 0">
                    <span :index="dotIndex - 1" v-for="dotIndex in Object.keys(item.news).length" :key="dotIndex" style="cursor: pointer" @click="item.index = dotIndex - 1">
                        {{ item.index === dotIndex - 1 ? '\u25CF' : '\u25CB' }}
                    </span>
                </div>
            </ons-col>
            <!--TIPO: TAG DE NOTICIAS-->

            <ons-col width="100" v-else-if="item.type === 'videosid'" class="videosid-item margin-bottom-1em">
                <v-ons-carousel fullscreen swipeable auto-scroll overscrollable :index.sync="item.index">
                                <v-ons-carousel-item v-for="id in item.ids">
                        <div class="video-container">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe allowfullscreen webkitallowfullscreen mozallowfullscreen width="640" height="360" :src="'https://fast.player.liquidplatform.com/pApiv2/embed/528d5ddc400d6d180d22d067b8e427b5/' + id"
                                        scrolling="no" frameborder="0" allow="geolocation; microphone; camera; encrypted-media; midi"></iframe>
                            </div>
                        </div>
                    </v-ons-carousel-item>
                </v-ons-carousel>
                <div class="text-center" v-show="item.ids.length > 0">
                    <span :index="dotIndex - 1" v-for="dotIndex in Object.keys(item.ids).length" :key="dotIndex" style="cursor: pointer" @click="item.index = dotIndex - 1">
                        {{ item.index === dotIndex - 1 ? '\u25CF' : '\u25CB' }}
                    </span>
                </div>
            </ons-col>
            <!--TIPO: IDS DE VIDEOS, VIDEOS UNICOS-->

            <ons-col width="100" v-else-if="item.type === 'videotag'" class="videotag-item  margin-bottom-1em">
                <v-ons-carousel fullscreen swipeable auto-scroll overscrollable :index.sync="item.index">
                                <v-ons-carousel-item v-for="video in item.videos">
                        <div class="video-container">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe allowfullscreen webkitallowfullscreen mozallowfullscreen width="640" height="360" :src="'https://fast.player.liquidplatform.com/pApiv2/embed/528d5ddc400d6d180d22d067b8e427b5/' + video.id"
                                        scrolling="no" frameborder="0" allow="geolocation; microphone; camera; encrypted-media; midi"></iframe>
                            </div>
                        </div>
                    </v-ons-carousel-item>
                </v-ons-carousel>
                <div class="text-center" v-show="item.videos.length > 0">
                    <span :index="dotIndex - 1" v-for="dotIndex in item.videos.length" :key="dotIndex" style="cursor: pointer" @click="item.index = dotIndex - 1">
                        {{ item.index === dotIndex - 1 ? '\u25CF' : '\u25CB' }}
                    </span>
                </div>
            </ons-col>
            <!--TIPO: TAG DE VIDEOS-->

            <ons-col width="100" v-else class="fallback-item">
                <div v-html="item.body"></div>
            </ons-col>
            <!--TIPO: FALLBACK-->
        </ons-row>
        <ons-row v-show="$route.params.especial_url !== null && $route.params.especial_url !== ''">
            <ons-col class="text-item">
                <p><b>Puede ver más información <a :href="$route.params.especial_url" target="_blank">aquí</a></b></p>
            </ons-col>
        </ons-row>
    </v-ons-page>
</template>