<template id="especiales">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">Especiales</div>
        </v-ons-toolbar>
        <v-ios-back-button></v-ios-back-button>

        <ons-row>
            <ons-col width="100">
                <v-ons-card class="noticia-especiales" v-for="especial in especiales" @click="navToSpecial(especial)">
                    <img :src="especial.especial_img" :alt="especial.especial_name" style="width: 100%">
                    <div class="title">{{ especial.especial_name }}</div>
                    <div class="content">
                        <p>{{ especial.especial_description }}</p>
                    </div>
                </v-ons-card>
            </ons-col>
        </ons-row>
    </v-ons-page>
</template>