<template id="home">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">
                <img class="logo-toolbar" src="img/crhoy-logo.png" alt="CRHoy.com">
            </div>
        </v-ons-toolbar>

        <v-ons-pull-hook :action="getNews" @changestate="state = $event.state">
            <span v-show="state === 'initial'"> Hale para refrescar </span>
            <span v-show="state === 'preaction'"> Soltar </span>
            <span v-show="state === 'action'"> <ons-icon icon="fa-cog" spin></ons-icon> </span>
        </v-ons-pull-hook>
        <!--HALAR PARA REFRESCAR-->

        <ons-row>
            <ons-col class="text-center" width="100%" v-show="loading">
                <v-ons-icon size="2em" spin icon="fa-cog"></v-ons-icon>
            </ons-col>
        </ons-row>
        <!--LOADING-->

        <ons-row v-if="noticias.importante" @click="$router.push('/noticia/' + noticias.importante.id + '/null')">
            <ons-col>
                <img :src="noticias.importante.img | icdn([400,300,95,95])" :alt="noticias.importante.title" style="width: 100%">
                    <div class="title">
                    <v-title tag="h1" :color="noticias.importante.categories[0][1]" :metadata="noticias.importante.metadata" color-text="negro">{{ noticias.importante.title | html }}</v-title>
                </div>
            </ons-col>
        </ons-row>
        <!--IMPORTANTE-->

        <ons-row v-show="noticias.transmision.post_content !== ''">
            <ons-col>
                <div v-html="noticias.transmision.post_content" style="width: 100%;"></div>
            </ons-col>
        </ons-row>
        <!--TRANSMISION-->

        <ons-row>
            <ons-col>
                <v-ons-carousel swipeable auto-scroll overscrollable :index.sync="carouselIndexSlider" auto-scroll-ratio="0.5">
                                <v-ons-carousel-item v-for="nota in noticias.slider">
                        <v-ons-card class="noticia-slider" @click="$router.push('/noticia/' + nota.id + '/null')">
                            <img :src="nota.img | icdn([315,260,95,95])" :alt="nota.title" style="width: 100%">
                                <div class="title">
                                <v-title tag="h2" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                            </div>
                            <div class="content">
                                <p class="color-negro">
                                    {{ nota.excerpt | html }}
                                </p>
                                <p class="color-negro no-margin-bottom"><small>{{ nota.date }}{{ nota.hour }}</small></p>
                            </div>
                        </v-ons-card>
                    </v-ons-carousel-item>
                </v-ons-carousel>
                <div class="text-center margin-bottom-1em">
                    <span :index="dotIndex - 1" v-for="dotIndex in Object.keys(noticias.slider).length" :key="dotIndex" style="cursor: pointer"
                        @click="carouselIndexSlider = dotIndex - 1" class="color-negro">
                        {{ carouselIndexSlider === dotIndex - 1 ? '\u25CF' : '\u25CB' }}
                    </span>
                </div>
            </ons-col>
        </ons-row>
        <!--SLIDER-->

        <ons-row>
            <ons-col>
                <v-ons-list>
                    <v-ons-list-item tappable v-for="nota in noticias.visualB" class="noticia-visual-b" @click="$router.push('/noticia/' + nota.id + '/null')">
                        <div class="left">
                            <img class="list-item__thumbnail" :src="nota.img | icdn([100,100,20,95])">
                        </div>
                        <div class="center">
                            <span class="list-item__title">
                                <v-title tag="h3" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                                <p  class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
                            </span>
                        </div>
                    </v-ons-list-item>
                </v-ons-list>
            </ons-col>
        </ons-row>
        <!--VISUAL B-->

        <ons-row>
            <ons-col width="100">
                <v-ons-card class="noticia-visual-a" v-if="noticias.visualA.length > 0" @click="$router.push('/noticia/' + noticias.visualA[0].id + '/null')">
                    <img :src="noticias.visualA[0].img | icdn([315,260,95,95])" :alt="noticias.visualA[0].title" style="width: 100%">
                        <div class="title">
                        <v-title tag="h2" :color="noticias.visualA[0].categories[0][1]" :metadata="noticias.visualA[0].metadata" color-text="negro">{{ noticias.visualA[0].title | html }}</v-title>
                    </div>
                    <div class="content">
                        <p>
                            {{ noticias.visualA[0].excerpt | html }}
                        </p>
                        <p class="color-negro no-margin-bottom"><small>{{ noticias.visualA[0].date }}{{ noticias.visualA[0].hour }}</small></p>
                    </div>
                </v-ons-card>
            </ons-col>
            <ons-col width="50" v-for="nota in noticias.visualA.slice(1)">
                <v-ons-card class="noticia-visual-a-mediana" @click="$router.push('/noticia/' + nota.id + '/null')">
                    <img :src="nota.img | icdn([150,100,95,95])" :alt="nota.title" style="width: 100%">
                        <div class="title">
                        <v-title tag="h3" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                    </div>
                    <div class="content no-margin">
                        <p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
                    </div>
                </v-ons-card>
            </ons-col>
        </ons-row>
        <!--VISUAL A-->

        <ons-row>
            <ons-col>
                <v-ons-list>
                    <v-ons-list-item tappable v-for="nota in noticias.visualC" @click="$router.push('/noticia/' + nota.id + '/null')">
                        <v-title tag="h3" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                        <p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
                    </v-ons-list-item>
                </v-ons-list>
            </ons-col>
        </ons-row>
        <!--VISUAL C-->

        <ons-row>
            <ons-col>
                <h2 class="title-home" v-show="noticias.enterese.length > 0">Entérese</h3>

                    <v-ons-carousel swipeable auto-scroll overscrollable :index.sync="carouselIndexEnterese">
                                    <v-ons-carousel-item v-for="nota in noticias.enterese">
                            <v-ons-card class="noticia-slider" @click="$router.push('/noticia/' + nota.id + '/null')">
                                <img :src="nota.img | icdn([315,240,95,95])" :alt="nota.title" style="width: 100%">
                                    <div class="title">
                                    <v-title tag="h3" :color="'negro'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                                </div>
                                <div class="content">
                                    <p class="color-negro">
                                        {{ nota.excerpt | html }}
                                    </p>
                                    <p class="color-negro no-margin-bottom"><small>{{ nota.date }}{{ nota.hour }}</small></p>
                                </div>
                            </v-ons-card>
                        </v-ons-carousel-item>
                    </v-ons-carousel>
                    <div class="text-center margin-bottom-1em" v-show="noticias.enterese.length > 1">
                        <span :index="dotIndex - 1" v-for="dotIndex in Object.keys(noticias.enterese).length" :key="dotIndex" style="cursor: pointer"
                            @click="carouselIndexEnterese = dotIndex - 1" class="color-negro">
                            {{ carouselIndexEnterese === dotIndex - 1 ? '\u25CF' : '\u25CB' }}
                        </span>
                    </div>
            </ons-col>
        </ons-row>
        <!--ENTERESE-->

        <ons-row v-show="noticias.temporal.length > 0">
            <ons-col width="100" v-show="noticias.tituloTemporal">
                <h2 :class="'title-home color-' + noticias.colorTituloTemporal">{{ noticias.tituloTemporal }}</h2>
            </ons-col>
            <ons-col width="50" v-for="nota in noticias.temporal">
                <v-ons-card class="noticia-temporal" @click="$router.push('/noticia/' + nota.id + '/null')">
                    <img :src="nota.img | icdn([315,240,95,95])" :alt="nota.title" style="width: 100%">
                        <div class="title">
                        <v-title tag="h3" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                        <p class="color-negro no-margin-bottom"><small>{{ nota.date }}{{ nota.hour }}</small></p>
                    </div>
                </v-ons-card>
            </ons-col>
        </ons-row>
        <!--NOTICIAS TEMPORALES-->

        <ons-row>
            <ons-col width="100" class="fondo-diva">
                <h2 class="title-home color-blanco">La diva del día</h2>
                <v-ons-card class="noticia-diva" v-if="noticias.diva" @click="$router.push('/noticia/' + noticias.diva.id + '/null')">
                    <img :src="noticias.diva.img | icdn([315,240,95,95])" :alt="noticias.diva.title" style="width: 100%">
                        <div class="title">
                        <v-title tag="h3" :color="'entretenimiento'" :metadata="noticias.diva.metadata" color-text="negro">{{ noticias.diva.title | html }}</v-title>
                    </div>
                </v-ons-card>
            </ons-col>
            <!--DIVA-->

            <ons-col width="100" class="fondo-frase-dia">
                <h2 class="title-home color-blanco" v-if="noticias.frase_del_dia">{{ noticias.frase_del_dia.title }}</h2>
                <v-ons-list class="fondo-frase-dia">
                    <v-ons-list-item tappable class="noticia-frase-del-dia" v-if="noticias.frase_del_dia" @click="$router.push('/noticia/' + noticias.frase_del_dia.id + '/null')">
                        <div class="left">
                            <img class="list-item__thumbnail" :src="noticias.frase_del_dia.img | icdn([100,100,20,95])">
                        </div>
                        <div class="center">
                            <span class="list-item__title">
                                <v-title tag="p" :color="'frase-del-dia'" :metadata="noticias.frase_del_dia.metadata" color-text="blanco">{{ noticias.frase_del_dia.excerpt | html }}</v-title>
                            </span>
                        </div>
                    </v-ons-list-item>
                </v-ons-list>
            </ons-col>
            <!--FRASE DEL DIA-->

            <ons-col width="100" class="fondo-humor">
                <h2 class="title-home color-blanco">Humor</h2>
                <v-ons-card class="noticia-humor" v-if="noticias.humor" @click="$router.push('/noticia/' + noticias.humor.id + '/null')">
                    <img :src="noticias.humor.img | icdn([315,240,95,95])" :alt="noticias.humor.title" style="width: 100%">
                        <div class="title">
                        <v-title tag="h3" :color="'humor'" :metadata="noticias.humor.metadata" color-text="negro">{{ noticias.humor.title | html }}</v-title>
                    </div>
                </v-ons-card>
            </ons-col>
            <!--HUMOR-->

            <ons-col width="100" class="fondo-foto-del-dia">
                <h2 class="title-home color-blanco">La foto del día</h2>
                <v-ons-card class="noticia-foto-del-dia" v-if="noticias.foto_del_dia" @click="$router.push('/noticia/' + noticias.foto_del_dia.id + '/null')">
                    <img :src="noticias.foto_del_dia.img | icdn([315,240,95,95])" :alt="noticias.foto_del_dia.title" style="width: 100%">
                        <div class="title">
                        <v-title tag="h3" :color="'foto-del-dia'" :metadata="noticias.foto_del_dia.metadata" color-text="negro">{{ noticias.foto_del_dia.title | html }}</v-title>
                    </div>
                </v-ons-card>
            </ons-col>
            <!--FOTO DEL DIA-->
        </ons-row>
        <!--DIVA, FRASE DEL DIA, HUMOR FOTO DEL DIA-->

        <ons-row class="fondo-negro">
            <ons-col>
                <h2 class="title-home color-blanco">Videos</h2>
                <v-ons-carousel swipeable auto-scroll overscrollable :index.sync="carouselIndexMultimedia">
                                <v-ons-carousel-item v-for="nota in noticias.multimedia">
                        <v-ons-card class="noticia-multimedia" @click="$router.push('/noticia/' + nota.id + '/null')">
                            <img :src="nota.img | icdn([315,240,95,95])" :alt="nota.title" style="width: 100%">
                                <div class="title">
                                <v-title tag="h3" :color="'negro'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                            </div>
                        </v-ons-card>
                    </v-ons-carousel-item>
                </v-ons-carousel>
                <div class="text-center margin-bottom-1em" v-if="noticias.multimedia.length > 1">
                    <span :index="dotIndex - 1" v-for="dotIndex in Object.keys(noticias.multimedia).length" :key="dotIndex" style="cursor: pointer"
                        @click="carouselIndexMultimedia = dotIndex - 1" class="color-blanco">
                        {{ carouselIndexMultimedia === dotIndex - 1 ? '\u25CF' : '\u25CB' }}
                    </span>
                </div>
            </ons-col>
        </ons-row>
        <!--MULTIMEDIA-->

        <ons-row>
            <ons-col>
                <h2 class="title-home">Más noticias</h2>

                <accordion color="deportes">
                    <span slot="title">Deportes</span>
                    <div slot="content">
                        <v-ons-card class="noticia-secciones" v-for="nota in noticias.deportes" @click="$router.push('/noticia/' + nota.id + '/null')">
                            <img :src="nota.img | icdn([260,200,95,95])" :alt="nota.title" style="width: 100%">
                                <div class="title">
                                <v-title tag="h4" :color="'deportes'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                            </div>
                            <div class="content no-margin">
                                <p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
                            </div>
                        </v-ons-card>
                    </div>
                </accordion>

                <accordion color="entretenimiento">
                    <span slot="title">Entretenimiento</span>
                    <div slot="content">
                        <v-ons-card class="noticia-secciones" v-for="nota in noticias.entretenimiento" @click="$router.push('/noticia/' + nota.id + '/null')">
                            <img :src="nota.img | icdn([260,200,95,95])" :alt="nota.title" style="width: 100%">
                                <div class="title">
                                <v-title tag="h4" :color="'entretenimiento'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                            </div>
                            <div class="content no-margin">
                                <p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
                            </div>
                        </v-ons-card>
                    </div>
                </accordion>

                <accordion color="economia">
                    <span slot="title">Economía</span>
                    <div slot="content">
                        <v-ons-card class="noticia-secciones" v-for="nota in noticias.economia" @click="$router.push('/noticia/' + nota.id + '/null')">
                            <img :src="nota.img | icdn([260,200,95,95])" :alt="nota.title" style="width: 100%">
                                <div class="title">
                                <v-title tag="h4" :color="'economia'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                            </div>
                            <div class="content no-margin">
                                <p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
                            </div>
                        </v-ons-card>
                    </div>
                </accordion>

                <accordion color="mundo">
                    <span slot="title">Mundo</span>
                    <div slot="content">
                        <v-ons-card class="noticia-secciones" v-for="nota in noticias.mundo" @click="$router.push('/noticia/' + nota.id + '/null')">
                            <img :src="nota.img | icdn([260,200,95,95])" :alt="nota.title" style="width: 100%">
                                <div class="title">
                                <v-title tag="h4" :color="'mundo'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                            </div>
                            <div class="content no-margin">
                                <p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
                            </div>
                        </v-ons-card>
                    </div>
                </accordion>

                <accordion color="tecnologia">
                    <span slot="title">Tecnología</span>
                    <div slot="content">
                        <v-ons-card class="noticia-secciones" v-for="nota in noticias.tecnologia" @click="$router.push('/noticia/' + nota.id + '/null')">
                            <img :src="nota.img | icdn([260,200,95,95])" :alt="nota.title" style="width: 100%">
                                <div class="title">
                                <v-title tag="h4" :color="'tecnologia'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                            </div>
                            <div class="content no-margin">
                                <p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
                            </div>
                        </v-ons-card>
                    </div>
                </accordion>

                <accordion color="opinion">
                    <span slot="title">Opinión</span>
                    <div slot="content">
                        <v-ons-card class="noticia-secciones" v-for="nota in noticias.opinion" @click="$router.push('/noticia/' + nota.id + '/null')">
                            <img :src="nota.img | icdn([260,200,95,95])" :alt="nota.title" style="width: 100%">
                                <div class="title">
                                <v-title tag="h4" :color="'opinion'" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                            </div>
                            <div class="content no-margin">
                                <p class="color-negro no-margin"><small>{{ nota.date }}{{ nota.hour }}</small></p>
                            </div>
                        </v-ons-card>
                    </div>
                </accordion>
            </ons-col>
        </ons-row>
        <!--SECCIONES-->
    </v-ons-page>
</template>