<template id="indefinido">
    <v-ons-page>
        <v-ons-toolbar class="fondo-nacionales">
            <div class="left">
                <v-ons-toolbar-button onclick="_splitter.toggle();" class="color-blanco">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">
                <img class="logo-toolbar" src="img/crhoy-logo-blanco.png" alt="CRHoy.com">
            </div>
        </v-ons-toolbar>
        <v-ios-back-button></v-ios-back-button>

        <ons-row>
            <ons-col>
                <div class="card">
                    <h5 class="text-center">Página no encontrada</h5>
                </div>
            </ons-col>
        </ons-row>
    </v-ons-page>
</template>