<template id="masLeidas">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">Más leídas</div>
        </v-ons-toolbar>

        <v-ons-pull-hook :action="getNews" @changestate="state = $event.state">
            <span v-show="state === 'initial'"> Hale para refrescar </span>
            <span v-show="state === 'preaction'"> Soltar </span>
            <span v-show="state === 'action'"> <ons-icon icon="fa-cog" spin></ons-icon> </span>
        </v-ons-pull-hook>

        <v-ios-back-button></v-ios-back-button>
        <ons-row>
            <ons-col width="100">
                <v-ons-card class="noticia-ultimas" v-for="nota in noticias" @click="$router.push('/noticia/' + nota.id + '/null')">
                    <img :src="nota.img | icdn([315,200,95,95])" :alt="nota.title" style="width: 100%">
                        <div class="title">
                        <v-title tag="h3" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                    </div>
                </v-ons-card>
            </ons-col>
        </ons-row>
    </v-ons-page>
</template>