<v-ons-splitter>
    <v-ons-splitter-side swipeable id="_splitter" width="50%" collapse="" side="left" collapse="portrait" open-threshold="0.9" :open.sync="openSide">
        <v-ons-page>
            <v-ons-toolbar class="fondo-nacionales">
                <div class="center color-blanco">Menú</div>
            </v-ons-toolbar>
            <v-ons-list>
                <v-ons-list-item v-for="page in pages" tappable modifier="chevron" @click="$router.push(page.route); openSide = false;">
                    <div class="center">{{ page.title }}</div>
                </v-ons-list-item>
                <v-ons-list-item tappable modifier="chevron" @click="navToSearch();">
                    <div class="center">Buscador</div>
                </v-ons-list-item>
                <v-ons-list-item tappable modifier="chevron" @click="$router.push('/noticia/677512/null');">
                    <div class="center">Noticia de prueba</div>
                </v-ons-list-item>
                <v-ons-list-header>Categorías</v-ons-list-header>
                <v-ons-list-item v-for="cat in categories" tappable modifier="chevron" v-on:click="navToCategory(cat)">
                    <div class="center">{{ cat.cat_title }}</div>
                </v-ons-list-item>
                <v-ons-list-header>Nuestras redes</v-ons-list-header>
                <v-ons-list-item class="nav-to-socials" v-for="sn in socialNetworks" tappable modifier="chevron">
                    <div class="center">
                        <a :href="sn.socialNetwork_url" target="_blank">
                            <ons-icon :icon="sn.socialNetwork_icon"></ons-icon> {{ sn.socialNetwork_name }}
                        </a>
                    </div>
                </v-ons-list-item>
            </v-ons-list>
        </v-ons-page>
    </v-ons-splitter-side>

    <v-ons-splitter-content>
        <router-view></router-view>
    </v-ons-splitter-content>
</v-ons-splitter>