<template id="noticia">
    <v-ons-page id="contenido-noticia">
        <v-ons-toolbar :class="'fondo-' +  nota.categories[0].cat_color">
            <div class="left">
                <v-ons-toolbar-button onclick="_splitter.toggle();" class="color-blanco">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">
                <img class="logo-toolbar" src="img/crhoy-logo-blanco.png" alt="CRHoy.com">
            </div>
            <div class="right">
                <v-ons-toolbar-button @click="comentarioVisible = true;" class="color-blanco">
                    <ons-icon icon="fa-comments"></ons-icon>
                </v-ons-toolbar-button>
            </div>
        </v-ons-toolbar>
        <v-ios-back-button></v-ios-back-button>

        <ons-row>
            <ons-col>
                <div class="card">
                    <div id="fb-root"></div>

                    <p class='text-center' v-show="loading">
                    <v-ons-icon size='2em' spin icon='fa-cog' class='color-negro'></v-ons-icon>
                    </p>
                    <!--LOADING-->
                    <div class="img-pre-loading">
                        <img v-if="nota.img !== ''" :src="nota.img | icdn([315, 200, 95, 95])" :alt="nota.title" style="width: 100%;">
                    </div>
                    <h6 class="no-margin pre-title">{{ nota.pretitle.trim() }}</h6>
                    <h1 class="card__title no-margin-bottom">{{ nota.title }}</h1>
                    <p class="no-margin-bottom author" @click="navToAuthor(nota.author)">
                        Por: <span :class="'notification notification-author fondo-' +  nota.categories[0].cat_color"><small>{{ nota.author.autor_name }}</small></span>
                        <small>{{ nota.date }} {{ nota.hour }}</small>
                    </p>
                    <ul class="list list--noborder margin-bottom-1em" v-if="nota.subtitle1 !== '' || nota.subtitle2 !== ''">
                        <li class="list-item" v-show="nota.subtitle1 !== ''">
                            <div class="list-item__center">{{ nota.subtitle1 }}</div>
                        </li>
                        <li class="list-item" v-show="nota.subtitle2 !== ''">
                            <div class="list-item__center">{{ nota.subtitle2 }}</div>
                        </li>
                    </ul>

                    <div id="nota_fallback">
                        <content-component id="content-component" v-if="nota.content !== '' " :content="nota.content" :scripts="nota.scripts"></content-component>
                    </div>

                    <p class="text-left etiquetas" v-show="nota.tags.length > 0">
                        <b>Etiquetas: </b><br>
                        <span :class="'notification notification-tag fondo-' +  nota.categories[0].cat_color" v-for="tag in nota.tags" @click="navToTag(tag)">{{ tag.etiqueta_name }}</span>
                    </p>

                    <v-ons-modal :visible="comentarioVisible" @click="comentarioVisible = false;">
                        <div class="comments-single-container">
                            <div class="card comentarios-single">
                                <ul class="list comentarios">
                                    <li class="list-header">Dejanos tu comentario</li>
                                    <form class="frm-comentarios">
                                        <v-ons-input id="comentario-nombre" placeholder="Nombre" type="text" v-model="comentario.nombre" required></v-ons-input>
                                        <br>
                                        <v-ons-input id="comentario-correo" placeholder="Correo" type="email" v-model="comentario.correo" required></v-ons-input>
                                        <br>
                                        <textarea id="comentario-comentario" class="comentario-comentario" v-model="comentario.comentario" placeholder="Comentario"
                                                  required></textarea>
                                        <br>
                                        <p class="text-center" v-show="comentario.loading">
                                        <v-ons-icon class="comentario-loading" size="2em" spin icon="fa-cog" :class="'color-' + nota.categories[0].cat_color"></v-ons-icon>
                                        </p>
                                        <v-ons-button class="comentario-boton" modifier="large" type="button" @click="saveComment()" :disabled="comentario.loading || loading">Enviar</v-ons-button>
                                    </form>
                                    <li class="list-header">Comentarios <span class="notification">{{ nota.comments.length }}</span></li>
                                    <li class="list-item" v-for="comment in nota.comments">
                                        <div class="list-item__center">
                                            <div class="list-item__title">{{ comment.comment_author }} <small>{{ comment.comment_date }}</small></div>
                                            <div class="list-item__subtitle">{{ comment.comment_content }}</div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="facebook" v-if="nota.permalink !==''">
                                    <div class="fb-comments" :data-href="nota.permalink" data-width="100%" data-numposts="5" data-mobile="true"></div>
                                    <!--COMENTARIOS-->
                                </div>
                            </div>
                        </div>
                    </v-ons-modal>
                </div>
            </ons-col>
        </ons-row>

        <v-ons-speed-dial position="bottom right" direction="up">
            <v-ons-fab :class="'fondo-' +  nota.categories[0].cat_color">
                <v-ons-icon icon="fa-share-alt" class="color-blanco"></v-ons-icon>
            </v-ons-fab>

            <v-ons-speed-dial-item v-for="item in shareItems" :class="'fondo-' +  nota.categories[0].cat_color" @click="share(item.slug)"
                                   :title="'Compartir con' + item.name">
                                   <v-ons-icon :icon="item.icon" class="color-blanco"></v-ons-icon>
            </v-ons-speed-dial-item>
        </v-ons-speed-dial>
    </v-ons-page>
</template>