<template id="tema">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center" style="{ textTransform: etiquetaNameUndefined }">{{ $route.params.etiqueta_name }}</div>
        </v-ons-toolbar>
        <v-ios-back-button></v-ios-back-button>

        <ons-row>
            <ons-col width="50" v-for="nota in noticias">
                <v-ons-card class="noticia-etiqueta" @click="$router.push('/noticia/' + nota.id + '/null')">
                    <img :src="nota.img | icdn([150,100,50,95])" :alt="nota.title" style="width: 100%">
                        <div class="title">
                        <v-title tag="h4" color="negro" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                    </div>
                </v-ons-card>
            </ons-col>
        </ons-row>

        <ons-row>
            <ons-col class="text-center" width="100%" v-show="loading">
                <v-ons-icon size="2em" spin icon="fa-cog" class="color-negro"></v-ons-icon>
            </ons-col>
            <ons-col class="text-center" width="100%">
                <v-ons-button modifier="large" @click="viewMoreNews()" class="ver-mas-boton color-blanco fondo-negro">Ver más noticias</v-ons-button>
            </ons-col>
        </ons-row>
    </v-ons-page>
</template>