<template id="ultimas">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-toolbar-button onclick="_splitter.toggle();" class="color-nacionales">
                    <v-ons-icon icon="ion-navicon, material:md-menu"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">Últimas noticias</div>
        </v-ons-toolbar>
        <v-ios-back-button></v-ios-back-button>

        <ons-row>
            <ons-col width="100">
                <vuejs-datepicker placeholder="dd/mm/yyyy" calendar-button-icon="fa fa-calendar" calendar-button="true" id="calendarInput"
                                  v-model="datePickerConfig.model" :format="datePickerConfig.format" :language="datePickerConfig.langConfig" wrapper-class="calendar-ultimas"
                                  :disabled-dates="datePickerConfig.disabledDates" :highlighted="datePickerConfig.highlighted" @input="selectedDate"></vuejs-datepicker>
            </ons-col>
            <ons-col width="100">
                <v-ons-card class="noticia-ultimas" v-for="(nota, i) in noticias" :data-index="i" @click="$router.push('/noticia/' + nota.id + '/null')">
                    <img v-if="nota.render" :src="nota.img | icdn([315,200,95,95])" :alt="nota.title" style="width: 100%">
                         <div class="title">
                        <v-title tag="h3" :color="nota.categories[0][1]" :metadata="nota.metadata" color-text="negro">{{ nota.title | html }}</v-title>
                    </div>
                    <div class="content">
                        <p>{{ nota.hour.trim() }}</p>
                    </div>
                </v-ons-card>
            </ons-col>
        </ons-row>
        <ons-row>
            <ons-col class="text-center" width="100%" v-show="loading">
                <v-ons-icon size="2em" spin icon="fa-cog"></v-ons-icon>
            </ons-col>
        </ons-row>
        <!--LOADING-->
    </v-ons-page>
</template>