@import "../vars.scss";

.notification-author, .notification-tag{
    padding: 0.5em;
    line-height: 25%;
    margin-right: 1em;
    cursor: pointer;
}
.notification-tag{
    margin-bottom: 1em;
}
.author{
    line-height: 1.4em;
}
.pre-title{
    font-weight: 100;
}
.comentarios .list-header{
    padding-top: 1em;
    padding-bottom: 1em;
}
.etiquetas{
    overflow: hidden;
}
.comentario-comentario{
    width: calc(100% - 6px);
    min-width: calc(100% - 6px);
    min-height: 75px;
}
.comentario-loading{
    margin: 0.3em auto;
}
.comentario-boton{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.nota-contenido{
    margin: 1em 0px;
    line-height: 1.3em;
    img{
        width: 100%;
        max-width: 100%;
        height: auto;
    }
    iframe{
        width: 100% !important;
        border: none;
        margin: 1em 0px;
    }
}
.img-pre-loading{
    width: 100%;
    min-height: 200px;
    background-image: url(../../img/placeholder-loading.jpg);
    margin-bottom: 0.3em;
}
.frm-comentarios{
    width: 100%;
    ons-input, textarea{
        width: 100%;
        margin-top: 0.5em;
    }
    textarea{
        width: calc(100% - 6px);
        max-width: calc(100% - 6px);
        min-width: calc(100% - 6px);
        margin: 0.5em 0px 0px;
    }
}
#nota-contenido p:empty {
    display: none;
}
.comments-single-container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: overlay;
    .comentarios-single{
        position: absolute;
        top: 25%;      
        width: calc(100% - 16px);
    }
}

/* === MODAL === */
.modal{
    background-color: rgba(0,0,0,.75);
    img{
        max-width: 100%;
    }
    p{
        padding: 1em;
    }
}

/* === SOBREESCRIBIR ESTILOS DE WP === */
.size-large{
    max-width: 100%;
}
.imgWithText{
    min-height: 400px;
    position: relative;
    background-size: cover;
    .caption{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 80%;
        display: block;
        margin: 0 10%;
        h4{
            color: $blanco;
            font-size: 1.5em;
            font-weight: 500;
            text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
        }
    }
}

/* === BOTONES ===
 * LA IDEA ES SUSTITUIR LOS DE BOOSTRAP POR LOS DE ONSEN
 * OBVIAMENTE POR LOS QUE MAS SE PARECEN,
 * EN EL FUTURO, CON SASS DEBEMOS INCLUIR LOS ESTILOS DE .button
 * AQUI YA QUE COPIAR Y PEGAR EL CODIGO NO ES LO IDEAL.
 */
.btn{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    background-clip: padding-box;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    background: transparent;
    border: none;
    line-height: normal;
    font-family: -apple-system, 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
    text-decoration: none;
    padding: 4px 10px;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0;
    color: white;
    vertical-align: middle;
    background-color: #0076ff;
    border: 0 solid currentColor;
    border-radius: 3px;
    transition: none;
}
.btn-default{
    background-color: transparent;
    color: $negro;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-primary{
    background-color: #0076ff;
}
.btn-success{
    background-color: #5cb85c;
    border: 1px solid #4cae4c;
}
.btn-info{
    border-radius: 3px;
    transition: none;
    border: none;
    background-color: #25a6d9;
    color: white;
}
.btn-warning{
    background-color: #f0ad4e;
    border: 1px solid #eea236;
}
.btn-danger{
    background-color: #d9534f;
    border: 1px solid #d43f3a;
}
.btn-link{
    transition: none;
    background: transparent;
    border: 1px solid transparent;
    box-shadow: none;
    background: transparent;
    color: #0076ff;
    border: none;

}

/* === SHORTCODES === */
.parallax{
    background-attachment: fixed;
    background-size: cover;
    height: 60vh;
    background-repeat: no-repeat;
    margin: 0.5em 0px;
}
.testimonio{
    margin: 0.5em 0px;
}
.grid-gallery{

}
.leer-mas-single{
    margin: 1em 0px;
    padding: 0px;
    li{
        padding: 0px;
        border: solid 1px #EFEFEF;
        border-radius: 5px;
    }
    .left{
        padding: 0.7em 0.5em 0.5em;
        font-weight: 600;
    }
    .center{
        padding-left: 0.5em;
        padding-top: 0.2em;
    }
}
.videoFallback{
    width: 100%;
    height: auto;
    min-height: 150px;
    margin: 1em 0px;
}
.carousel-single{
    margin: 1em 0px;
    position: relative;
    img{
        max-width: 100%;
    }
    .caption{
        position: absolute;
        bottom: 6px;
        left: 0px;
        right: 0px;
        background-color: rgba(0,0,0,0.5);
        margin: 0px;
        padding: 1em;
        color: $blanco;
    }
    .left-gallery-button, .right-gallery-button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 25px;
        width: 40px;
        height: 40px;
        text-align: center;
        font-weight: 700;
        font-size: 1.5em;
        line-height: 1.5em;
    }
    .left-gallery-button{
        left: -16px;
    }
    .right-gallery-button{
        right: -16px;
    }
}
.figure-caption{
    margin: 1em;
    img{
        max-width: 100%;
        width: 100%;
    }
}
.audioImgIframe{
    height: 236px;
}
.history-gallery .history{
    padding: 1em;
    margin-top: -7px;
}
.tabset{
    .segment{
        width: 100%;
        .segment__button{
            background-color: $negro;
            border: 1px solid $negro;
            color: #aaa;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        &:checked+.segment__button{
            color: $blanco;
        }
    }
    .tabset-content{
        .tabset-item{
            padding: 1em 0.5em;
            border: solid 1px $negro;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
}
.accordion-single{
    margin-left: 0px !important;
    margin-right: 0px !important;
    .accordion-body{
        padding: 1em 0.5em;
        margin-top: 0px;
        border-width: 1px;
        border-style: solid;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    .accordion-body p{
        margin-top: 0px;
    }
}
.contextualBox{
    padding: 1em 0.5em;
}

.bg-primary{
    color: $blanco;
    background-color: $primary;
}
.bg-success{
    background-color: $success;
}
.bg-info{
    background-color: $info;
}
.bg-warning{
    background-color: $warning;
}
.bg-danger{
    background-color: $danger;
}
